%section.workshops.col-md-9.module-separation
  .row
    %header.workshops-header-container
      %h3.workshop-header
        %span.workshop-header-image
        %span.workshops-title Bonus
      %ul.workshops-menu
        %li.last
          = link_to 'All bonus events', bonus_engine.bonus_path
      .workshops-header-decorator
  .row
    .section-content-wrapper
      %ul
        = show_active_bonus_events
