/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap-multiselect
 *= require_self
 */


.bonus-admin-icon {
  height: 35px;
  position: relative;
  width: 35px;
}

.bonus-container {
  margin: 0 15px;
}

img.coworker-picture {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 75px;
}

.affix {
  top: 0;
  background: #fff;
  width: 1101px;
}

textarea.form-control {
  color: #000;
}