<html>
  <body>
    <h1>Make it rain!</h1>
    <p>
    You have been invited to participate in this bonus event, just go
    <a href='<%= cycle_event_url(cycle_id: @event.cycle.id, id: @event.id, host: 'stage-kardex.herokuapp.com')  %>'>Here</a>
  </body>
</html>
