<div class="page-header">
  <h2>
    {{cycle.name}} >> {{event.name}}
    <small>
      <a href="/cycles/{{cycleId}}/events/{{eventId}}" class="pull-right">Back to event</a>
    </small>
  </h2>
</div>


<ul class="list-inline">
  <li>
    <h4> Points to distribute: <em>{{event.budget}}</em> </h4>
  </li>
  <li>
    <h4>Points received: <em>{{totalPoints}}</em></h4>
  </li>
</ul>


<div class="row">
  <div ng-repeat="point in points" class="col-lg-4">
    <div class="coworker-container">
      <div class="coworker-details">
        <img class="coworker-picture img-circle" ng-src="{{point.giver.picture_url}}">
        <a href="/cycles/{{cycleId}}/events/{{eventId}}/users/{{point.giver.id}}" tabindex="-1">{{point.giver.name}}</a>
      </div>

      <div class="coworker-points">
        <span>{{point.quantity}}</span>
      </div>

      <div class="coworker-message">
        <p>{{point.message}}</p>
      </div>
    </div>
  </div>
</div>
