<div class="page-header">
  <h2>
    {{cycle.name}} >> {{event.name}}
    <small>{{user.name}} received messages</small>
    <small>
      <a href="/cycles/{{cycleId}}/events/{{eventId}}" class="pull-right">Back to event</a>
    </small>
  </h2>
</div>

<div class="row">
  <div ng-repeat="point in points" class="col-lg-4">
    <div class="coworker-container">
      <div class="coworker-details">
        <img class="coworker-picture img-circle" ng-src="{{point.giver.picture_url}}">
        <a href="/cycles/{{cycleId}}/events/{{eventId}}/users/{{point.giver.id}}" tabindex="-1">{{point.giver.name}}</a>
      </div>

      <div class="coworker-message">
        <p>{{point.message}}</p>
      </div>
    </div>
  </div>
</div>
