<div class="page-header">
  <h2>
    {{event.name}}
    <small>{{user.name}} received messages</small>
    <small>
      <a href="/cycles/{{cycleId}}/events/{{eventId}}" class="pull-right">Back to event</a>
    </small>
  </h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2">Coworker</th>
      <th>Message</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="point in points">
      <td><img class="coworker-picture" ng-src="{{point.giver.picture_url}}"></td>
      <td>{{point.giver.name}}</td>
      <td>{{point.message}}</td>
    </tr>
  </tbody>
</table>
